* {
  box-sizing: border-box;
}

.wrapper {
  padding-top: 60px;
  font-family: 'mplus';
  letter-spacing: 1px;
}

.dropdown-toggle::after {
  display:none;
}

.bg-skyblueD {
  background-color: $skyblueD;
}


