.user-box {
  padding-top: 80px;
}

// task集計ページ
.user-label {
  background-color: $yellow;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 14px;
}

.table-header {
  background-color: $skyblueD;
  color: white;
}

