.card-body {
  position: relative;
}
.card-body__kind {
  background-color: ;
  min-width: 120px;
  height: 2.2em;
  text-align: center;
  padding: 6px 15px;
  border-radius: 25px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card-body__memo {
  margin-left: 140px;
  padding: 7px 0;
}
.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card-link:hover {
  color: #b900ad;
}
