@font-face {
  font-family: 'mplus';
  src: url('{{ public_path('fonts/mplus-2p-regular.ttf') }}');
  font-weight: normal;
  font-style: normal;
}
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 *//*
 TODO will need to remove settings on HTML since we can't namespace it.
 TODO with the prefix, should I group by selector or property for weight savings?
 */html {
  color: #000;
  background: #fff;
}
/*
 TODO remove settings on BODY since we can't namespace it.
 *//*
 TODO test putting a class on HEAD.
 - Fails on FF.
 */body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
/*
 TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
 */address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/input, textarea, select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */legend {
  color: #000;
}
/* YUI CSS Detection Stamp */#yui3-css-stamp.cssreset {
  display: none;
}
* {
  box-sizing: border-box;
}
.wrapper {
  padding-top: 60px;
  font-family: 'mplus';
  letter-spacing: 1px;
  color: #194951;
}
.dropdown-toggle::after {
  display: none;
}
.bg-skyblueD {
  background-color: #00bcd1;
}
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 60px;
  line-height: 60px;
}
.header-link {
  color: white;
}
.header-link:hover {
  color: #0096a7;
}
.card-body {
  position: relative;
}
.card-body__kind {
  background-color: #f7d54e;
  min-width: 120px;
  height: 2.2em;
  text-align: center;
  padding: 6px 15px;
  border-radius: 25px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card-body__memo {
  margin-left: 140px;
  padding: 7px 0;
}
.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card-link:hover {
  color: #b900ad;
}
.user-box {
  padding-top: 80px;
}
.user-label {
  background-color: #f7d54e;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 14px;
}
.table-header {
  background-color: #007886;
  color: white;
}
